{% extends "layout.html" %}

{%block content%}

    <div class="container mt-3">
        <div class="about p-3">
            <h1 align="center">About Us</h1>
            <div class="row">
                <div class="col-md-5">
                    <img src="../static/about.png" alt="About Us">
                </div>
                <div class="col-md-7 p-5">
                    <p>Scholarship can be a helping aid to many students and can be beneficial for 
                        their future too. But it is very difficult to find out right kind of platform 
                        where we can get those opportunities.<br>
                        So we chose this topic to give the best and an efficient platform to students 
                        where they can get all type of scholarship and apply for them according to 
                        their academic qualification.<br>
                        Scholarship can be a helping aid to many students and can be beneficial for 
                        their future too. But it is very difficult to find out right kind of platform 
                        where we can get those opportunities.<br>
                        So we chose this topic to give the best and an efficient platform to students 
                        where they can get all type of scholarship and apply for them according to 
                        their academic qualification.<br>

                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}