{% extends "layout.html" %}

{% block content %}

<div class="container mt-5 p-5">
    <div class="row justify-content-center">
        <div class="card-option col">
            <a href="{{ url_for('add_sch')}}">
                <h1 class="text-center"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add Scholarships</h1>
            </a>
        </div>
        <div class="card-option col">
            <a href="{{ url_for('update_sch')}}">
                <h1 class="text-center"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update Scholarships</h1>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card-option col">
            <a href="{{ url_for('delete_sch')}}">
                <h1 class="text-center"><i class="fa fa-key" aria-hidden="true"></i> Close/Open Scholarships</h1>
            </a>
        </div>
        <div class="card-option col">
            <a href="{{ url_for('view_application')}}">
                <h1 class="text-center"><i class="fa fa-list" aria-hidden="true"></i> View Aplications</h1>
            </a>
        </div>
    </div>
</div>

{% endblock %}