{% extends "layout.html" %}

{% block content %}

    <div class="container mt-5 p-5">
        <div class="row justify-content-center">
            <div class="card-option col">
                <a href="#"><h1 class="text-center">Add Scholarships</h1></a> 
            </div>
            <div class="card-option col">
                <a href="#"><h1 class="text-center">Update Scholarships</h1></a> 
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card-option col">
                <a href="#"><h1 class="text-center">Delete Scholarships</h1></a> 
            </div>
            <div class="card-option col">
                <a href="#"><h1 class="text-center">View Aplications</h1></a> 
            </div>
        </div>    
    </div>

{% endblock %}