{% extends "layout.html" %}

{% block content %}
<div class="container bg-light" style="border-radius: 10px; margin-top: 10vh; padding: 20px;">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Application Id</th>
                <th scope="col">Applicant Name</th>
                <th scope="col">Applicant Email</th>
                <th scope="col">Scholarship Name</th>
            </tr>
        </thead>
        <tbody>
            {% for scholarship_application in scholarship_applications %}
            <tr>
                <td>{{ scholarship_application.id }}</td>
                <td>{{ scholarship_application.student.username }}</td>
                <td>{{ scholarship_application.student.email }}</td>
                <td>{{ scholarship_application.application.name }}</td>
                <td class="d-flex justify-content-center">
                    <a href="{{url_for('view_applicant_details_id',id=scholarship_application.id)}}">
                        <button class="btn btn-primary">Applicant Details</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}